.titlebar {
  color: rgb(255, 255, 255);
  vertical-align: baseline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Navbar {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(37, 8, 143);
  align-items: end;
  align-self: end;
  font-size: .5cm;
  text-align: left;
  padding-top: 50px;
}

a {
  text-decoration: none;
}

.link:hover {
  color: orange;
}

/* .activeLink {
  text-decoration-line: underline;
  color: brown;
} */
.link-active {
  color: orchid;
  text-decoration-line: underline;
}


.daterange {
  display: flex;
}

.timeIcon {
  display: flex;
}

.bigscreentime {
  display: none;
}
.bigscreenphone{
  display: none;

}

.phonenumber {
  display: flex;
}

.menuButton {
  display: none;
}

.Navlinks {
  display: flex;
}


.button {
  color: white;
  text-align: center;
  background-color: green;

}


@media only screen and (max-width: 650px) {


  .daterange {
    display: none;
  }

  .timeIcon {
    display: none;
  }

  .bigscreentime {
    display: flex;
  }
  .bigscreenphone{
    display: flex;
  }

  .phonenumber {
    display: none;
  }

  .menuButton {
    display: flex;
  }

  .Navlinks {
    display: none;
  }



}